.header{
    height: 52px;
    margin-top: 2px;
}
.image-span {
    padding: 5px;
    padding-left: 10px;
    float: left;
}

.text-span {
    padding: 5px;
    padding-left: 10px;
    float: left;    
}



